<div class="navbar md-12 mb-3 header-Linear">
        <div class="ms-3">
            <img src="./assets/porque.img" class="img rounded imagem" alt="">
        </div>
         
        <div class="justify-content-end nav">
            <li class="nav-item p-2">
                <span routerLink="/admin/pessoas" type="button" style="color: rgb(255, 255, 255);">Pessoas</span>
            </li>
        
            <li class="nav-item p-2">
                <span routerLink="/admin/carros" type="button" style="color: rgb(255, 255, 255);">Carros</span>
            </li>
        
            <li class="nav-item p-2">
                <span routerLink="/admin/livros" type="button" style="color: rgb(255, 255, 255);">Pessoas</span>
            </li>
            
            <span routerLink="/login" type="button" class="btn btn-outline-red">
                <i class="bi bi-box-arrow-right" style="color: rgb(255, 255, 255);"></i>
            </span>
        </div>
              

    
</div>

