<div class="md-12 mb-3" style="background-color: rgb(231, 255, 231);">OLHA O NAVBAR AI</div>


<div class="container">

    <div class="row text-start">
        <h2 class="col-md-10">Lista de Pessoas</h2>
        <div class="col-md-2">
            <button type="button" class="btn btn-success offset-md-5">Cadastrar</button>
        </div>
    </div>

    <div class="border" style="border-radius: 20px;background-color: white;padding: 6px;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="p-2">Id</th>
                    <th scope="col" class="p-2 text-start">Nome</th>
                    <th scope="col" class="p-2 ">Idade</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let pessoa of lista" class="col-md-12">

                    <th class="col-md-2">
                        <span>oi</span>
                    </th>

                    <th class="col-md-9 text-start">
                        <span *ngIf="pessoa.idade > 10" class="linha text-start">
                            <td >{{pessoa.nome}}</td>
                        </span>
                    </th>

                    <th>
                        <span *ngIf="pessoa.idade > 10" class="linha">
                            <td >{{pessoa.idade}}</td>
                        </span>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

    
</div>

