<div>
    <div class="container">
        <div class="row text-start ">
            <h2 class="col-md-10">Lista de Carros</h2>
            <div class="col-md-2">
                <button (click)="abrirModal(modal)" type="button" class="btn btn-success offset-md-5">Cadastrar</button>
                <!-- <input routerLink="/admin/pessoas/novo"  value="Cadastrar"> -->
            </div>
        </div>
    
        <div class="border" style="border-radius: 20px;background-color: white;padding: 6px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="p-2">Id</th>
                        <th scope="col" class="p-2 text-start">Nome</th>
                        <th scope="col" class="p-2 ">Ano</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let carro of lista; let i = index" class="col-md-12">
    
                        <th class="col-md-2">
                            <span>{{carro.id}}</span>
                        </th>
                        <th class="col-md-9 text-start">
                            <span class="linha text-start">
                                <td >{{carro.nome}}</td>
                            </span>
                        </th>
                        <th>
                            <span class="linha">
                                <td >{{carro.ano}}</td>
                            </span>
                        </th>
                        <th class="col-md-1">
                            <!-- <input routerLink="/admin/pessoas/editar/{{pessoa.id}}" type="button" value="editar"> -->
                            <button class="badge rounded-pill text-bg-primary retiraBorda" (click)="abrirModalEditar(modal, carro, i)">Editar</button>
    
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div>
           
        </div>
    
        <ng-template #modal let-modal>
            <div class="modal-header">
                <h4>Cadastrar Carro</h4>
            </div>
            <div>
                <app-carrosdetails [carro]="carroSelecionada" (retorno)="addLista($event)"></app-carrosdetails>
            </div>
            <div class="modal-footer"></div>
    
        </ng-template>    
    </div>

</div>




