<div class="container">

    <div class="row text-start">
        <h2 class="col-md-10">Lista de Pessoas</h2>
        <div class="col-md-2">
            <input routerLink="/admin/carros/novo" type="button" class="btn btn-success offset-md-5" value="Cadastrar">
        </div>
    </div>

    <div class="border" style="border-radius: 20px;background-color: white;padding: 6px;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="p-2">Id</th>
                    <th scope="col" class="p-2 text-start">Nome</th>
                    <th scope="col" class="p-2 ">Idade</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let carro of lista" class="col-md-12">

                    <th class="col-md-2">
                        <span>oi</span>
                    </th>

                    <th class="col-md-9 text-start">
                        <span *ngIf="carro.ano > 10" class="linha text-start">
                            <td >{{carro.nome}}</td>
                        </span>
                    </th>

                    <th>
                        <span *ngIf="carro.ano > 10" class="linha">
                            <td >{{carro.ano}}</td>
                        </span>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

    
</div>

